<!DOCTYPE html>
<html lang="en" style="width: 100vw; height: 100vh;">

<head>
  <meta charset="UTF-8">
  <title>${title}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Lato:ital,wght@0,400;0,900;1,400;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
  ${nav}
  <main>
    ${content}
  </main>
</body>

</html>